{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title_block %}
	Log In
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
	<div class="row justify-content-around">
		<div class="col-md-8 col-sm-8 welcome panel">
			<br />
			<h1>Please enter your log-in details:</h1>
			<br />
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col-md-4 col-sm-8">
			<br />
			<br />
			<form method="post">
				{% csrf_token %}

				{{ form.username|as_crispy_field }}
				{{ form.password|as_crispy_field }}
				 <button type="submit" class="btn btn-primary">Log in</button>
			</form>
		</div>
	</div>
{% endblock %}
