{% extends 'studentsatrisk/base.html' %}

{% load crispy_forms_tags %}

{% block title_block %}
	Sign Up
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <h1>Signing up for <strong>{{ user_type }}</strong> account</h1><br />
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-md-5 sign-up-user-details">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" id="sign-up-button-on-form">SIGN UP</button>
            </form>
        </div>
    </div>
{% endblock %}
