{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sign Up
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-12 welcome-panel">
        <br />
        <h1>Please sign up here</h1>
        <br /><br /><br />
    </div>
</div>
<div class="col-md-12">
    <div class="row justify-content-around sign-up-buttons">
        <a href="{% url 'instructor_signup' %}" class="btn btn-default index-page-button">Instructor Sign Up</a>
        <a href="{% url 'student_signup' %}" class="btn btn-default index-page-button">Student Sign Up</a>
    </div>
</div>
{% endblock %}
