<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	
	<title> 
		{% block title_block %}
		{% endblock %}
	</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Bootstrap library -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/instructor_index.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/students_at_risk.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/student_page.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">

	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>

	{% block header_block %}
	{% endblock %}
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		
		<!-- link based on privileges -->
		{% if user.is_authenticated %}
			{% if user.is_instructor %}
				<a class="navbar-brand" href="{% url 'instructor_index' %}">Student Support System</a>
			{% else %}
				<a class="navbar-brand" href="{% url 'student_page' %}">Student Support System</a>
			{% endif %}
			<ul class="navbar-nav">
		<!-- Navigation links based on privileges -->
				{% if user.is_instructor %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'dashboard' %}">Analytics Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'students_at_risk' %}">Students at Risk</a>
					</li>
				{% endif %}
				<li class="nav-link">   |</li>
				<li class="nav-item" id="username-in-navbar"> Active user: {{ user.username }}</li>
				<li class="nav-link">
					<a class="nav-item" id="log-out-in-navbar" href="{% url 'logout' %}">Log Out</a>
				</li>
			</ul>


		{% else %}
			<a class="navbar-brand" href="{% url 'index' %}">Student Support System</a>
			<a href="{% url 'login' %}" class="nav-link">Log In</a>
			<a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
		{% endif %}

	</nav>
	
	<div class="gap" style="margin-top:70px">
	</div>
	<div class="container">
		{% block body_block %}
		{% endblock %}
	</div>
</body>
{% block scripts %}
{% endblock %}

</html>