{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
Dashboard
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-12 welcome-panel">
        <h1 class="page-header">Analytics Dashboard</h1>
    </div>
</div>
<div class="row justify-content-center introduction-message-top-page">
    <p>Please use the buttons under the graphs to view different data.
        In the top-right corner of each graph, there is a menu bar that provides further features.</p>
</div>
<!-- graphs panel -->
<div class="row align-items-center">
	<!-- courses graph -->
    <div class="col-md-6 graph_course">
        <div class="col-md-12">
            <div id="container_graph_course" style="min-width: 310px; height:
                400px; margin: 20px" class="border"></div>
        </div>
    </div>
	<!-- in time graph -->
    <div class="col-md-6 graph_time">
        <div class="col-md-12">
            <div id="container_graph_time" style="min-width: 310px; height:
                400px; margin: 20px" class="border"></div>
        </div>
        <div class="row align-items-center">
        </div>
    </div>
</div>
<!-- dropdown menu and button for graphs -->
<div class="row justify-content">
    <div class="col-md-6">
        <div class="dropdown select-course-button">
            <button id="course-name-button" class="dropbtn btn btn-danger">Select
                a course</button>
            <div id="coursesDropdown" class="dropdown-content">
                <input type="text" placeholder="Search"
                    id="searchInput">
                <ul id="ul-id">
                    <div id="all-courses"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="hidden at-risk-buttons">
            <button class="btn btn-danger at-risk-button"
                id="at-risk-1-week">1 week</button>
            <button class="btn btn-danger at-risk-button"
                id="at-risk-3-months">3 months</button>
            <button class="btn btn-danger at-risk-button"
                id="at-risk-year">1 year</button>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'JS/dashboard.js' %}"></script>
{% endblock %}