{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
	StudentSupportSystem
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
	<div class="row">
		<div class="col-md-12 welcome-panel">
			<h1 class="page-header">Welcome to the Student Support System</h1>
			<p>To view engagement analytics for your courses or to track students at risk, you need to <a href="{% url 'login' %}">LOG IN</a>.</p>
		</div>
	</div>

	<div id="student-or-instructor-register-div">
		<br>
		<h2>If you don't have an account yet, you will need to register.</h2>
		<p>You can register either as a student or as an instructor:</p>
		<p></p>
		<h3>Are you a <a href="{% url 'student_signup' %}" class="btn btn-default index-page-button">Student</a> or an <a href="{% url 'instructor_signup' %}" class="btn btn-default index-page-button">Instructor</a>?</h3>
		<br />
	</div>
	
	<div id="developer-info-message">
		<strong><p>This web application was developed with the intention to improve support provided to students at risk,
			thus improving student retention and mitigating the risk of dropping-out.
			Its goal is to recognize vulnerable students and flag them as at-risk so they can be subsequently provided with dedicated support.</p></strong>
		<p id="developed-author">Developed by Katarina Turinicova in partial fulfillment of the requirements
			for Master of Science in Software Development at the University of Glasgow, 2019.</p>
	</div>
{% endblock %}
