{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
Index - Instructor
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-md-12 welcome-panel">
        <h1 class="page-header">Welcome, {{ greeting_name }} !</h1>
    </div>
</div>
<div class="row justify-content-center introduction-message-top-page">
    <p>This page is designed with your convenience at mind, thus offering a quick outlook of the most important features.</p>
    <p>If you require more thorough data, please consult the navigation bar where you can find Dashboard Analytics to view data in graphical form, or Students at Risk page to see at-risk students or to change a student's risk-status.</p>
</div>

<!-- three panels with specific info -->
<div class="row justify-content-around ">
	<!-- at risk students list -->
    <div class="col-md-3 text-center students-at-risk-box">
        <a class="box-link" href="{% url 'students_at_risk' %}">
            <h4>Students at Risk</h4></a>
        {% if students_at_risk %}
        <ul>
            {% for student_at_risk in students_at_risk %}
            <li>{{ student_at_risk.student.SID }}, flagged {{ student_at_risk.date_flagged }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>Rejoice. There are no students at risk at the moment.</strong>
        {% endif %}
    </div>
	
	<!-- advisees box -->
    <div class="col-md-3 text-center advisees-box">
        <a class="box-link" href="{% url 'students_at_risk' %}">
            <h4>My Advisees</h4>
        </a>
        {% if my_advisees %}
        <div class="row">
            <div class="col-md-5">
                <ul>
                    {% for advisee in my_advisees %}
                        <li>{{ advisee }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    {% for risk in risk_status %}
                        <li> - {{ risk }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <strong> You don't have any advisees.</strong>
        {% endif %}
    </div>
	<!-- mu courses list -->
    <div class="col-md-3 text-center courses-box">
        <a class="box-link" href="{% url 'dashboard'%}">
            <h4>Courses I teach</h4></a>
        {% if my_courses %}
        <ul>
            {% for course_current in my_courses %}
            <li>{{ course_current }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong> Not much teaching you are doing this semester.</strong>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="at-risk-info-bottom-page">
        <strong><p>What does it mean to be at-risk?</p></strong>
        <p>For the purposes of this project, at-risk refers to students being vulnerable to risk of failing rather than
            those that have already failed/accrued failing grades.
            Engagement was selected as risk factor in order to help identify vulnerable students before any real problems occur.
            The goal is to prevent students from struggling undetected, hence reducing the risk of failure and dropping out</p>
        <p>At risk status is calculated based on student engagement with course material (i.e. links, presentations, yacrs, etc) over the past two weeks.
            The status is specific to each course a student is enrolled on. Being flagged as at-risk is intended for provision of further support to students, not penalization. Thus, it does not have any effect on a student's grades.
            It will only alert the lecturer so that they can offer the student dedicated support.</p>
    </div>
</div>

{% endblock %}
