{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
StudentSupportSystem
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-md-12 welcome-panel">
        <h1 class="page-header">Students at Risk</h1>
    </div>
</div>
<div class="row justify-content-center introduction-message-top-page">
    <p>This page lists all students currently at risk although you may change the list to include all students instead.
    You may search for specific student groups via the search bar, e.g. by a course name.</p>
    <p>If needed, you can change the risk status of a student by clicking the button next to the student's name.</p>
    <p>At-risk list is ordered by date. All students list is ordered by ID.</p>
</div>
<!-- buttons to toggle table data -->
<div class="row align-items-center button-panel-risk-page">
    <button type="button" class="btn btn-primary"
        id="button-all-students-display">Display All Students</button>
    <button type="button" class="btn btn-danger"
        id="button-only-at-risk-display">Display only Students at Risk</button>
    <input id="search-input-table" type="text" placeholder="Search">
</div>
<!-- table -->
<div class="row align-items-center body-panel">
    <div class="col-lg-12 col-md-12">

        <table id="students-table">
            <thead>
                <tr class="labels">
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Course</th>
                    <th>Date Flagged</th>
                    <th>At Risk</th>
                    <th>Self-Flagged</th>
                </tr>
            </thead>
            <tbody class="student-data-in-body" id="student-data-filter">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/students_at_risk.js' %}"></script>
{% endblock %}