{% extends 'studentsatrisk/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
StudentSupportSystem
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-md-12 welcome-panel">
        <h1 class="page-header">Hello, {{ student_name }}!</h1>
    </div>
</div>
<div class="row justify-content-center introduction-message-top-page">
    <p>This page was created to offer you support were you to find yourself in trouble.</p>
    <p>The graph displays overall engagement of all students in a particular course. The two coloured boxes next to it allow you to see if you were flagged as at risk in any of your courses, and to ask for support if you feel like you need it.</p>
</div>
<div class="row justify-content-around">
    <div class="col-md-6" id="column-graph-student-page">
        <div class="row justify-content">
            <!-- graph buttons -->
            <div class="col-md-12" id="course-button-student-page">
                <button id="course-name-button" class="dropbtn btn btn-danger">Select a course to view in graph</button>
                <div id="coursesDropdown" style="margin-left: 9.4rem; max-width: 13.5rem;" class="dropdown-content">
                    <input type="text" placeholder="Search" id="searchInput">
                    <ul id="ul-id">
                        <div id="all-courses"></div>
                    </ul>
                </div>
            </div>
        </div>
		<!-- graph -->
        <div class="row">
            <div class="col-lg-12 md-6 graph-student">
                <div id="container_graph_course" style="min-width: 310px; height:400px; margin: 0px" class="border"></div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row justify-content-between">
			<!-- flagged courses -->
            <div class="col-md-5 flagged-courses-window">
                <strong><h4 class="student-box-title">You have been flagged as at risk for these courses:</h4></strong>
                <div id="flagged-courses-list-student-page">
                <ul>
                    {% if flagged_course_list %}
                        {% for studentatrisk in flagged_course_list %}
                            <li>⊗ {{ studentatrisk.course }} - flagged on {{ studentatrisk.date_flagged}}</li>
                        {% endfor %}
                    {% else %}
                        <p>You are not at risk in any of your courses.</p>
                    {% endif %}
                </ul>
                </div>
            </div>
			<!-- self flagging box -->
            <div class="col-md-5 text-center help-box help-box">
                <div class="row">
                    <strong><h4 class="student-box-title">Flag Me! Help Box</h4></strong>
                </div>
                <div class="row">
                    <p>This box allows you to notify your lecturers that you are struggling.</p>
                    <p>Use the dropdown menu to select the course you need help with and click "I need help" button.</p>
                </div>
				<!-- dropdown for self-flagging -->
                <div class="row justify-content-around form">
                    <div class="col-md-10">
                        <div class="row justify-content-around">
                            <select required id="dropdown-self-flag">
                                {% if student_courses_list %}
                                    {% for course in student_courses_list %}
                                        <option value="{{ course.course.name }}">{{ course.course }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="row justify-content-around">
                            <button id="help-button" class="btn btn-success">I need help</button>
                        </div>
                        <div class="row" id="flag-success-message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="at-risk-info-bottom-page">
        <strong><p>What does it mean to be at-risk?</p></strong>
        <p>At risk status is calculated based on your engagement with course material (see X-Axis on the graph) over the past two weeks. The status is specific to each course. Being flagged as at-risk, including self-flagging is intended to offer you support, not to penalize you. Thus, it does not have any effect on your grades. It will only alert your lecturer so that they can offer you dedicated support throughout your academic journey.</p>
        <p>Engagement was selected as risk factor in order to help identify vulnerable students before any real problems occur. The goal is to prevent students from struggling undetected, hence reducing the risk of failing or dropping out.</p>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'JS/dashboard.js' %}"></script>
<script src="{% static 'JS/student_page.js' %}"></script>
{% endblock %}