.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: ;
    padding: 0.4rem;

}

.dropbtn:hover {
    background-color: ;
}

.dropbtn:focus {
    background-color: ;
}

#searchInput {
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
}

#searchInput:focus {
    outline: 2px solid black;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: silver;
    overflow: auto;
    border: 1px solid black;
}

.dropdown-content li{
    color: black;
    padding: 0.5rem;
    display: block;
    text-align: left;
}

.dropdown-content li:hover{
    background-color: grey;
}

.show{
    display: block;
}