.students-at-risk-box{
    margin-top: 3rem;
    color: white;
    background-color: #a9335c;
    padding: 2rem;
    border-radius: 3px;

}

.advisees-box{
    margin-top: 3rem;
    color: white;
    background-color: #7c0d89;
    padding: 2rem;
    border-radius: 3px;

}

.courses-box{
    margin-top: 3rem;
    color: white;
    background-color: #1b699c;
    padding: 2rem;
    border-radius: 3px;

}

.box-link{
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
    transition: color 0.5s ease;
}

.box-link h4{
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.4rem;
}

.box-link:hover{
    text-decoration: none;
    color: #b8b8b8;
}

