.graph-student{
    margin: 0.5rem;
    margin-top: 0rem;
    padding: 0.5rem;
    padding-top: 0rem;
}

.help-box{
    color: white;
    background-color: #eddc58;
    padding: 2rem;
    padding-top: 0.5rem;
    border-radius: 3px;
    margin: 1rem;
    margin-top: 1.5rem;
}

.flagged-courses-window{
    color: white;
    background-color: #b53137;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

#help-button {
    margin: 1rem;
}

#course-button-student-page {
    margin-top: 1.7rem;
    margin-left: 1rem;
    max-width: 34.6rem;
    border: 3px dashed white;
    border-bottom: none;
    padding: 1rem;
}

.student-box-title{
    text-decoration: none;
    color: white;
    margin-bottom: 1.5rem;
    transition: color 0.5s ease;
    border-bottom: 1px solid white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#flag-success-message {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #b53137;
    border: 3px dashed grey;
}

