table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  background-color: silver;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black;
}

tbody tr:hover {
    background-color:#f5f5f5;
}

.button-panel-risk-page{
    padding: 0;
    margin-left: 0rem;
}

#search-input-table, #button-all-students-display, #button-only-at-risk-display {
    margin-left: 1rem;
    margin-right: 1rem;
}

#search-input-table {
    box-sizing: border-box;
    padding: 0.3rem;

}