*,body,html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #e9ebee;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin-bottom: 0.5rem;
    color: #ebebeb;
}

#username-in-navbar {
    margin-top: 0.9rem;
    margin-left: 3rem;
    margin-right: 1rem;
    color:  #e7e8e8;
}

.nav-link {
    margin-top: 0.4rem;
}

.welcome-panel{
    margin-top: 3%;
    margin-bottom: 1%;
}

.introduction-message-top-page {
    margin-bottom: 2%;
    padding-top: 1rem;
    border-left: 4px groove grey;
    border-bottom: 1px dashed;
    border-top: 1px dashed;
    border-right: 4px groove grey;
}

.at-risk-info-bottom-page {
    padding-top: 1rem;
    margin-top: 4rem;
    border: 2px dashed #1da3f1;
}

.hidden {
    display: none;
}

.index-page-button {
    background-color: #f3f3f3 ;
    color: #0a99ed;
    font-size: 25px;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    text-align: center;
}

.index-page-button:hover {
    background-color: #555555;
    color:  #84ddf7 ;
}

#student-or-instructor-register-div {
    border: 4px groove grey;
}

#developer-info-message {
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    border: 2px dashed  #1da3f1 ;
}

#developed-author {
    margin-top: 3rem;
    font-size: 0.8rem;
}

.sign-up-buttons {
    border: 15px groove grey;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sign-up-user-details {
    color: black;
    border: 1px solid black;
    background-color: #a9c6cc;
}

#sign-up-button-on-form{
    margin: 0.5rem;
}